:root{
    --bg-color: #fff; /* 白天模式背景色 */
    --text-color: #333; /* 白天模式文字颜色 */
    --hover-color:rgb(242 244 248); /* 白天模式悬浮颜色 */
    --click-color:rgb(242 244 248);/* 白天模式点击颜色 */
    --border-color:#ced3da;
  }

.container{
    &-header{
        padding: 0;
        height: 50px;
        white-space: nowrap;
        color: var(--text-color);
        background-color: var(--bg-color);
        border-bottom: 1px solid var(--border-color);
        line-height: 50px;

        &-btn{
            color: var(--text-color);
            background-color: var(--bg-color);
            cursor: pointer;

            &:hover{
                 color: var(--hover-color);
            }
        }

        &-title{
            display: inline-block;
            font-size: 16px;
            transform: translateY(-1px)
        }

        &-middle{
            border: var(--border-color) 1px solid;
            border-bottom: none;
            border-top: none;

            &-search{
                position: absolute;
                top: 50%;
                left: 50%;
                color: var(--text-color);
                background-color: var(--bg-color);
                border: 1px solid var(--border-color);
                border-radius: 10px;
                transform: translate(-50%,-50%);
                line-height: 0px;
               
                &:hover{
                   background-color: var(--hover-color);
                }
   
                &-input{
                 width: 450px;
                 font-size: 18px;
                 color: var(--text-color);
                 border: none;
                 border-radius: 20px;
             }
           }
   
        }
      
        &-setting{
            &-title{
                display: flex;
                justify-content: space-between;
                color: var(--text-color);
                background-color: var(--bg-color);
                flex-direction: row;
               
            }
        }
    }

   &-main{
    display: flex;
    height: calc(100vh - 50px);
    flex-direction: row;
    color: var(--text-color);
    background-color: var(--bg-color);

    &-sider{
        height: 100%;
        color: var(--text-color);
        background-color: var(--bg-color);

        &-menu{
            height: 100%;
         }
     }

    
}
  
}



// 菜单
.menu{
    color: var(--text-color);
    background-color: var(--bg-color);

    &-card{
        padding: 8px;
        border-bottom: 1px solid  var(--border-color);
        cursor: pointer;
        font-size: 18px;

        &-selected{
            background-color: var(--click-color);
        }

        &:hover{
             background-color:  var(--hover-color);
        }

        &-icon{
             padding-right: 14px;
        }
    }
}

// 主题切换
.theme-container{
    display: flex;
    flex-direction: column;

    &-list{
       display: flex;
       justify-content: space-around;

       &-card{
           display: flex;
           align-items: center;
           padding: 5px;
           flex-direction: column;
           cursor: pointer;

           &-unselected{
               border: 2px solid #ffff;
               border-radius: 4px;
           }

           &-selectd{
               border: 2px solid #0052d9;
               border-radius: 4px;
           }
       }
       
    }
}


@media screen and (width <=1300px) {
      .container-header-middle-search-input{
        width: 350px;
      }
    
}

@media screen and (width <=1100px) {
      .container-header-middle-search-input{
        width: 150px;
      }
    
}